<section class="section-wrapper-{{ section.id }}">
  {% for block in section.blocks %}

  {% case block.type %}
    {% when "headLine" %}
    <div class="headLine-{{ block.id }}">
      <p class="headLine-{{ block.id }}-width-{{ block.settings.headLine }}">{{ block.settings.headLine }}</p>
    </div>

  {% when "imageSection" %}
    <div class="imageSection-{{ block.id }}">
      <img class="imageSection-{{ block.id }}-width-{{ block.settings.imageSection }}" src="{{ block.settings.upload_image | img_url:"200x200"}}">
    </div>

  {% when "textForShow" %}
    <div>
      <p class="textForShow-{{ block.id }}-width-{{ block.settings.textForShow }}">{{ block.settings.textForShowFirstLine }}</p>
      <p class="textForShow-{{ block.id }}-width-{{ block.settings.textForShow }}">{{ block.settings.textForShowSecondLine }} 
        <a class="textForShow-{{ block.id }}-width-{{ block.settings.textForShow- }}">{{ block.settings.textForShow-anchor }}</a>
      </p>
    </div>
    {% endcase %}

  {% endfor %}
</section>



{% schema %}
  {
    "name": "taskOne",
    "blocks":[
      {
        "name": "Headline",
        "type": "headLine",
        "settings":[
          {
            "type": "richtext",
            "id": "headLine",
            "label":"Change the headline",
            "default":"<p>404- Not Found</p>"
          }
        ]
      },
      {
        "name": "Image",
        "type": "imageSection",
        "settings":[
          {
            "type": "image_picker",
            "id": "upload_image",
            "label":"Change Your Image"
          }
        ]
      }
    ],
    "presets": [
		{ "name": "Test One" }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
  
{% endjavascript %}